<div class="container  my-5">
    <h3>Quản lý Người Dùng</h3>

    <form  action="">
        <div class="row">
            <input type="hidden" name="IdUserDB" value="" >
        
            <!-- Right -->
            <div class="col-11">

                <div class="mb-3" >
                    <label for="exampleFormControlInput1" class="form-label">
                        Tên Người Dùng</label> <input type="text" value="{{userCurrent.name}}" class="form-control"
                        id="exampleFormControlInput1" readonly="readonly" placeholder="Tên người dùng">
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            Email </label> <input type="email" value="{{userCurrent.email}}" readonly="readonly" class="form-control" placeholder=""
                            aria-label="First name">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            Number phone</label> <input type="text" value="{{userCurrent.phone}}" readonly="readonly" class="form-control"
                            placeholder="" aria-label="Last name">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            Địa chỉ</label> <input type="text" value="{{userCurrent.location}}" readonly="readonly" class="form-control"
                            placeholder="" aria-label="Last name">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1" class="form-label">
                            Ngày Sinh</label> <input type="text" value="{{userCurrent.birthday}}" readonly="readonly" class="form-control"
                            placeholder="%" aria-label="Last name">
                    </div>
                    
                </div>

                <div class="mb-3 mt-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        Trạng Thái</label> <select name="statusUser" class="form-select"
                        aria-label="Default select example">
                        <option [selected]="userCurrent.status=='active'" value="Active" >Active</option>
                        <option [selected]="userCurrent.status=='ban'" value="Ban"  >Ban</option>
                        <option [selected]="userCurrent.status=='waiting'" value="Waiting">Waiting</option>
                    </select>

                </div>
             





            </div>
        

    <div class="col-11 text-center">

    <button type="submit" formaction="/admin/user/update" formmethod="post" class="btn btn-outline-primary mx-2">Cập Nhật</button>
    <a href="/admin/manageUsers" class="btn btn-outline-primary mx-2">Làm Mới</a>
    
    </div>

        </div>
    </form>



</div>



