	<!-- info  -->
    <div class="col-12 shadow-lg  row  pb-3" >
		<div>
		<div class="my-3  ">
		<span style="font-size: x-large;font-style: inherit;" >Đơn hàng của tôi</span>
		</div>
		<!-- tìm đơn hàng -->
		<div>
		<form class="d-flex" action="/orderCostumer/search" method="post" role="search">
        <input class="form-control me-2" type="number" name="idOrder" placeholder="Tìm theo mã đơn" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
		</div>
			<!-- tìm đơn hàng -->
		
		
	
			<form *ngIf="listOrder" action="/orderCostumer/chi-tiet-don" method="post">
			<!-- đơn hàng -->
			<input type="hidden" name="idOrder" value="order.idOrder">

		<div *ngFor="let order of listOrder" class=" my-4 border shadow-sm " >
		<!-- trạng thái đơn  -->
		<div class="p-3 border-bottom " >Trạng thái đơn hàng : {{order.status}} <span class="ms-5"> Mã đơn hàng :{{order.idOrder}}</span> </div>
		<!-- sơ lượt sản phẩm -->
		
			
				<div class="   py-3  border-bottom d-flex flex-nonwrap">
			<!-- hình sản phẩm -->
			<div style="font-weight: bolder;" class="col-8 ms-3 me-5">
			Name : {{order.name}} <br>
			Phone : {{order.phone}}  <br>
			Address : {{order.address}} , {{order.city}}  
			</div>
			<!-- thong tin sản phẩm -->
			<div class=" col-2 d-flex justify-content-between " style="font-weight: bolder;">
			Date : {{order.orderDate}} 
		
			</div>
		</div>
		
	
		
		
		<!-- Tông tien -->
		<div class="  d-flex justify-content-around " >
			<span></span>
			<span>Tổng Tiền  : {{order.amount}} VND </span>
			
			</div>
		
		
		
		
		<!-- btn xem dơn -->
		
		<div class=" py-3 d-flex justify-content-around " >
			<span></span>
			
			<a href="/infoUser/orderDetail?idOrder={{order.idOrder}}" class="btn btn-outline-primary" role="button">Xem chi tiết</a>
			
			</div>
		</div>


		</form>
		
		<!-- đơn hàng  end -->
		
		
	
		

		
		
		
		
		</div>
		
		</div>
		<!-- info  -->
		