	<div class="container m-3">
						<h3>Quản lý Sản phẩm</h3>

						<form action="/admin/product-test" method="post" enctype="multipart/form-data" modelAttribute="product">
							<div class="row">
								<input type="hidden" name ="idProductDB" value="formproductDB.idProductform">
								<!-- left -->
								<div class="col-5">

									<img src=""
										class="img-thumbnail border mx-auto" id="previewImage" alt="."
										style="height: 260px; width: 400px">
									<div class="input-group my-3 ">
										<label class="input-group-text" for="inputGroupFile01">Upload
											Image</label> <input type="file" required="required" name="imageFile"  class="form-control"
											id="fileInput">
									</div>

								</div>
								<!-- Right -->
								<div class="col-6">

									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label">
											Tên sản phẩm</label> <input type="text" required="required" name="name" value="formproductDB.nameform" class="form-control"
											id="exampleFormControlInput1" placeholder="Tên sản phẩm">
									</div>

									<div class="row">
										<div class="col-6">
											<label for="exampleFormControlInput1" class="form-label">
												Giá </label> <input type="number" min="0" required="required" name="price" value="formproductDB.priceform"  class="form-control" placeholder="Giá"
												aria-label="First name">
										</div>

										<div class="col-6">
											<label for="exampleFormControlInput1" class="form-label">
												Giảm giá</label> <input type="number" min="0" required="required" name="disscount" value="formproductDB.disscountform" class="form-control"
												placeholder="%" aria-label="Last name">
										</div>

										<div class="col-12">
										<label for="exampleFormControlInput1" class="form-label">
												So Luong theo size</label>
										
										<div class="col-12 row"> 
												
										<!-- So Luong theo size -->
										
										
										<div class="form-floating mb-3 col-3">
											<input type="number" min="0" name="sizeS" value="formproductSizeS.qualityform"  class="form-control" id="floatingInput"
												placeholder="S"> <label
												for="floatingInput" > <span class="mx-4"> S </span></label>
										</div>
										<div class="form-floating mb-3 col-3">
											<input type="number" min="0" name="sizeM" value="formproductSizeM.qualityform" class="form-control"  id="floatingInput"
												placeholder="M"> <label
												for="floatingInput"> <span class="mx-4"> M </span></label>
										</div>
										<div class="form-floating mb-3 col-3">
											<input type="number"  min="0"  name="sizeL" value="formproductSizeL.qualityform" class="form-control" id="floatingInput"
												placeholder="L"> <label
												for="floatingInput"> <span class="mx-4"> L </span></label>
										</div>
										<div class="form-floating mb-3 col-3">
											<input type="number" min="0" name="sizeXL" value="formproductSizeXL.qualityform" class="form-control" id="floatingInput"
												placeholder="S"> <label
												for="floatingInput"><span class="mx-4"> XL </span> </label>
										</div>
										
										
										
										<!-- So Luong theo size -->
										
										</div>
										
										</div>

									</div>

									<div class="mb-3 mt-3">
										<label for="exampleFormControlInput1" class="form-label">
											Loại mặt hàng</label> <select name="idCategory" class="form-select"
											aria-label="Default select example">
											
											
												<option  value="formcate.idCategoryform"   >formcate.nameform</option>
											
											
											
											
										
											
										</select>

									</div>
									<div class="mb-3 mt-3">
										<label for="exampleFormControlInput1" class="form-label">
											Trạng thái</label>
										<div class="form-check mx-3 form-check-inline">
											<input class="form-check-input" type="radio" required="required" name="status"
												 id="inlineRadio1" value="true">
											<label class="form-check-label" for="inlineRadio1">Đang
												mở bán</label>
										</div>
										<div class="form-check mx-3 form-check-inline">
											<input class="form-check-input" type="radio" name="status"
												 id="inlineRadio2" value="false">
											<label class="form-check-label" for="inlineRadio2">Ngừng
												Kinh Doanh</label>
										</div>

									</div>





								</div>
								<!-- bottom -->
								<div class="col-11">

									<div class="mb-3">
										<label for="exampleFormControlTextarea1" class="form-label">
										Mô tả 
										</label>
										<textarea class="form-control"
											id="exampleFormControlTextarea1" name="description" rows="10">formproductDB.descriptionform</textarea>
									</div>
								</div>

								<div class="col-11 text-center">
									<button type="submit" formaction="/admin/product/add" class="btn btn-outline-primary mx-2">Thêm</button>
									<button type="submit" formaction="/admin/product/SaveOrUpdate" class="btn btn-outline-primary mx-2">Cập
										Nhật</button>
									<a  href="/admin/product/delete/formproductDB.idProduct==null?'-1':productDB.idProductform"  class="btn btn-outline-primary mx-2">Xoá</a>
									
									<a  href="/admin/product/refresh" class="btn btn-outline-primary mx-2">Làm
										Mới</a>

								</div>

							</div>
						</form>



					</div>




