	<!-- Shop Start -->
	<div class="container-fluid ">
		<div class="row px-xl-5">
			<!-- Shop Sidebar Start -->
			<div class="col-lg-3 col-md-12">
				<!-- Price Start -->
				<div class="border-bottom mb-4 pb-4">

					<h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
				
					<form action="" method="get">
						
						
						<input type="hidden" name="sortBy" value="${sortCurrent}" >
						<input type="hidden" name="keywords" value="${keywords}" >
						
					
						
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="radio" class="custom-control-input "
								 name="filterByPrice"
								value="all" id="price-all"> <label
								class="custom-control-label ms-3" for="price-all">All
								Price</label> <span class="rounded-pill border px-2 ms-auto"></span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="radio" class="custom-control-input"
								name="filterByPrice"
								value="50" id="price-1"> <label
								class="custom-control-label ms-3" for="price-1">0 -
								50000 VND</label> <span class="rounded-pill border px-2 ms-auto"></span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="radio" class="custom-control-input"
								 name="filterByPrice"
								value="100" id="price-2"> <label
								class="custom-control-label ms-3" for="price-2">50000 -
								100000</label> <span class="rounded-pill border px-2 ms-auto"></span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="radio" class="custom-control-input"
								name="filterByPrice"
								value="200" id="price-3"> <label
								class="custom-control-label ms-3" for="price-3">100000 -
								200000</label> <span class="rounded-pill border px-2 ms-auto"></span>
						</div>
						<div
							class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="radio" class="custom-control-input"
							name="filterByPrice"
								value="200+" id="price-4"> <label
								class="custom-control-label ms-3" for="price-4">200000+
								vnd</label> <span class="rounded-pill border px-2 ms-auto"></span>
						</div>


						<div class="my-2">
							<button type="submit" class="btn btn-outline-primary">Lọc</button>

						</div>
					</form>
				</div>
				<!-- Price End -->



			</div>
			<!-- Shop Sidebar End -->


			<!-- Shop Product Start -->
			<div class="col-lg-9 col-md-12">
				<div class="row pb-3">
					<div class="col-12 pb-1">
					
						<h2>Các sản phẩm : </h2>
					
						<div
							 class="d-flex align-items-center justify-content-between mb-4">
							
							<div class="dropdown">
								<button class="btn border dropdown-toggle" type="button"
									data-bs-toggle="dropdown" aria-expanded="false"></button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item"
										>price
											low to high</a></li>
									<li><a class="dropdown-item"
										>price
											high to low</a></li>

								</ul>
							</div>
						</div>
					</div>
                    <!--============= product ================-->
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <app-product></app-product>
                    </div>
                    <!--============= product ================-->



				
				</div>
			</div>
			<!-- Shop Product End -->
		</div>


	</div>
	<!-- Shop End -->

