<div class="shadow-lg p-4" style="height: 700px;">
    <div class="my-3  ">
    <span style="font-size: x-large;font-style: inherit;" >Địa chỉ của tôi</span>
    </div>

    
            <!-- Địa chỉ mới-->
    
    <div class=" my-4 border shadow-sm " >
    <!-- sơ lượt sản phẩm -->
    <div class="   py-3  border-bottom d-flex flex-nonwrap">
    
        <!-- thong tin sản phẩm -->
        <div class=" col-12 d-flex justify-content-center " >
    
        <span>
        <a href="/locationCostumer/add-form">+ Thêm địa chỉ mới </a>
        </span>
        
        </div>
    </div>
    
    </div>
    
    <!-- đơn hàng  end -->
    
   
    <!-- Địa chỉ -->
    
    <div class=" my-4 border shadow-sm " >
    <!-- sơ lượt sản phẩm -->
    <div class="   py-3  border-bottom d-flex flex-nonwrap">
        <!-- thong tin sản phẩm -->
        <div class=" col-9 d-flex justify-content-between " >
        
        <div class="ms-3">
    element.name
   
     <span class="text-success ms-2"> <i class="fa-regular fa-circle-check"></i> Địa chỉ mặc định </span> 
 
     <br>
        Địa chỉ : element.address , element.city <br>
        Số Điện thoại : element.phone
        
        </div>
        
        <span>
        <a href="/locationCostumer/update-form/${element.idDeliveryAddress}"> Chỉnh  Sửa</a>
        </span>
        
        </div>
        
    </div>
    
    </div>
    
    <!-- địa chỉ end -->
    
 
    
    
    
    
    
    
    
    
    </div>
    

